<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.ejb.metamodel.population">disabled</property>
    <property name="connection.username">root</property>
    <property name="connection.password">1234</property>
    <property name="connection.url">jdbc:mysql://localhost:3306/shoes_shop</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping class="course.by.zhukova.entity.CartEntity"/>
      <mapping resource="CartEntity.hbm.xml"/>
      <mapping resource="ColorEntity.hbm.xml"/>
      <mapping class="course.by.zhukova.entity.ColorEntity"/>
      <mapping class="course.by.zhukova.entity.CountryEntity"/>
      <mapping resource="CountryEntity.hbm.xml"/>
      <mapping resource="ManufacturerEntity.hbm.xml"/>
      <mapping class="course.by.zhukova.entity.ManufacturerEntity"/>
      <mapping class="course.by.zhukova.entity.MaterialEntity"/>
      <mapping resource="MaterialEntity.hbm.xml"/>
      <mapping class="course.by.zhukova.entity.MaterialtypeEntity"/>
      <mapping resource="MaterialtypeEntity.hbm.xml"/>
    <mapping class="course.by.zhukova.entity.ProductEntity"/>
    <mapping resource="ProductEntity.hbm.xml"/>
    <mapping resource="RoleEntity.hbm.xml"/>
    <mapping class="course.by.zhukova.entity.RoleEntity"/>
    <mapping resource="SeasonEntity.hbm.xml"/>
    <mapping class="course.by.zhukova.entity.SeasonEntity"/>
    <mapping class="course.by.zhukova.entity.UserEntity"/>
    <mapping resource="UserEntity.hbm.xml"/>
    <mapping class="course.by.zhukova.entity.OrdersEntity"/>
    <mapping resource="OrdersEntity.hbm.xml"/>
  </session-factory>
</hibernate-configuration>